.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(66, 66, 233);
}
h2{
    font-size: 25px;
    text-align: center;
    padding-right: 500px;
}
body{
  background-color: lightgray;
  text-align: center;
}
#logoImg{
  height: 100px;
  width: 150px;
  background-color:rgb(66, 66, 233);
}
/* #container {
  width: 500px;
  clear: both;
} */

#container input {
  width: 100%;
  clear: both;
}
#createBtn{
  float: right;
  background-color: cornsilk;
  width: auto;
  height: auto;
  margin-left: 40px;
  margin-right: 50px;
}
#updateBtn{
  float: right;
  background-color: cornsilk;
  width: auto;
}

